{% extends "authentication/base.html" %}

{% load static %}

{% block title %}Enrollment System{% endblock %}

{% block content %}
  <div class="container">
    <div class="card">
        <img src="{% static 'images/CVSU-LOGO.png' %}" alt="University Logo" class="logo">
        <h2>CAVITE STATE UNIVERSITY</h2>
        <h3>Bacoor City Campus</h3>
        <h4>Department Of Computer Studies</h4>
        <h5>Enrollment System</h5>
        <div class="buttons">
            <a href="/login"><button class="student-btn">Log In</button></a>
            <a href="/register"><button class="register-btn">Register</button></a>
        </div>
    </div>
  </div>
{% endblock content %}