{% extends "authentication/base.html" %}

{% load static %}

{% block title %}Enrollment System{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <input type="student_number" placeholder="Student Number" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <div class="show-me">
                <input type="checkbox" id="showPassword">
                <label for="showPassword">Hide / Show</label>
            </div>
            <a href="/home"><button>Login</button></a>
            <div class="register-link">
                Don't have an account? <a href="/register">Register</a>
            </div>
        </div>
    </div>
{% endblock %}
