body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/CVSU-BG2.png") no-repeat center center/cover;
  overflow: hidden;
}
.registration-form {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.registration-form h2 {
  font-size: 2rem;
  margin-bottom: 8px;
  text-align: center;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  margin-bottom: 8px;
}

.form-section h3 {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 8px;
  text-align: left;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-section div{
  margin-right: 20px;
}

.form-section input::placeholder {
  color: #aaa;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
}

button[type="submit"]:hover {
  background-color: #388E3C;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: #00c853;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}